
#oddsTableContainer {
    /* background-color: rgba(138, 150, 241, 0.177); */
    width: var(--oddsTableWidth);
    min-height: 1em;
    padding: 0;
    margin: 0 auto;
    margin-top: 12.8em;
    position: relative;
    left: 0;
  
}

.trackGap {
  height: 2em;
}